*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.logo img{
    height: 6.5rem;

        
}
.collapse{
    display: fixed;
}
ul{
    align-items: flex-end;
}
.btn {
    font-size: 2rem;
    background-color: rgb(146, 151, 218);
    border-radius: 4rem;
    &:hover{
        background-color:rgb(66, 74, 196);
        color: #fff;
    }
}
.navbar{
    font-size: 2rem;
}
.content-img{
    max-width: 35em;

}
.content h1{
    color:  rgb(101, 109, 219);
    font-weight: 700;
    font-size: 6.5rem;
    letter-spacing: 2px;
}

.content h2{
    color: orange;
    letter-spacing: 7px;
    font-size: 3rem;
}
.content p{
    font-size: 1.5rem;
}
.content .btn{
   color: #fff;
   font-weight: 600;

}

@media (max-width: 290px){
    html{
        font-size: 30.5%;
    }
    .content-img{ 
        padding-top: 4rem;
    
        max-width: 20rem !important;
    } 
}
@media (max-width: 400px){
    html{
        font-size: 32.5%;
    }
  
}

@media (max-width: 575.98px) {  
    html{
        font-size: 42.5%;
    }
   
}
@media (max-width: 767.98px) { 
    html{
        font-size: 52.5%;
    }
   
 }
@media (max-width: 998.98px) { 
    html{
        font-size: 52.5%;
    }
  
 }

